<html>
  <head>
    <title>The Time Is...</title>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    	<link type="text/css" rel="stylesheet" href="./stylesheets/main.css">
  </head>
  <body>
  <div id="container">
     <div id="header">Daily Quest Banner thing?</div>
   <div id ="navbar">
    <p id="navbar1"><a href = "http://eternal-grove-130707.appspot.com/">Home</a></p>
	
    <p id="navbar2">Preferences</p>
	
    <p id="navbar3">History</p>
	
    <p id="navbar4">
	{% if user %}
	  <a href="{{ logout_url }}">Sign out</a>
	{% else %}
	  <a href="{{ login_url }}">Sign in</a>
	{% endif %}   
	</p>	
  </div>
  <div id="leaderboard">
    Leaderboard here
  </div>
  
  <div id="content">
  <div id ="signin">
  {% if user %}
    <p>
      Welcome, {{ user.email() }}!
      You can <a href="{{ logout_url }}">sign out</a>.
    </p>
  {% else %}
    <p>
      Welcome!
      <a href="{{ login_url }}">Sign in or register</a> to customise.
    </p>
	</div>
	<div id="time">
  {% endif %}
    <p>The time is: {{current_time}}</p>

  {% if user %}
    <form action="/prefs" method="post">
      <label for="tz_offset">
        Timezone offset from UTC (can be negative):
      </label>
      <input name="tz_offset" id="tz_offset" type="text"
        size="4" value="{{ userprefs.tz_offset }}" />
      <input type="submit" value="Set" />
    </form>
  {% endif %}
  </div>
  </div>
     </div>
  </body>
</html>

