#header {
	text-align: center ;
	background-color: #555;
    color: white;
	padding:15px;

}
#content {
	float:left;
	width:80%;
}
#signin{
text-align: center ;
  
  width: 200px ;
  margin-left: auto ;
  margin-right: auto ;
 
  margin-top : auto;
  

}

#time {
	text-align: center ;
	
	 width: 200px ;
  margin-left: auto ;
  margin-right: auto ;

  margin-top : auto;
  
}
#leaderboard {
	height:100%;
	width:10%;
	background-color: #555;
    color: white;
    padding: 15px;
    float: right;
	text-align: center ;
}
#navbar {
	height:100%;
	width:5%;
	background-color: #555;
    color: white;
    padding: 15px;
    float: left;
	text-align: center ;
 
}
#navbar1:hover {
	font-weight:bold;
	
}
#navbar2:hover {
	font-weight:bold;
}
#navbar3:hover {
	font-weight:bold;
}
#navbar4:hover {
	font-weight:bold;
}

#navbar a { color: inherit;
text-decoration:none; } 